extend includes/layout-chatbot.pug
block main-content
    .chat
        .chat__main
            .chat__header
                .chat__avatar
                .chat__title SUMADI Chatbot
                .chat__close-top
                    i.fas.fa-times
            .chat__body
                .chat__chat-subcontainer
                    .message.message--received.message--received-dialogue
                        img(src="images/robot_avatar.png" class="message__sent-icon")
                        .chatbox
                            .chatbox__title {CHATBOT.NAME}
                            .chatbox__body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma
                    .message--divider
                    .message.message--sent
                        .chatbox
                            .chatbox__body ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma
                    .message.message--sent.message--sent-dialogue
                        .chatbox Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma
                    .message__confirmation ✓ 10:21 am
                    .message--divider
                    .message.message--received
                        .chatbox
                            .chatbox__title {CHATBOT.NAME}
                            .chatbox__body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma
                    .message.message--received
                        .chatbox
                            .chatbox__body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma
                    .message.message--received.message--received-dialogue
                        img(src="images/robot_avatar.png" class="message__sent-icon")
                        .chatbox
                            .chatbox__body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma                                        
                            .chatbox__footer {CHATBOT.NAME}
                    .message--divider
                    .message--option Option 1
                    .message--option Option 2
                    .message--option Option 3
                    .message--option Option 4
                    .message--divider
                    .message.message--received.message--received-dialogue
                        img(src="images/robot_avatar.png" class="message__sent-icon")
                        .chatbox
                            .chatbox__body Please rate your experience before you leave.
                    .message.message--received
                        .chatbox.chat__review
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                    .message.message--received
                        .message--card
                            .card__col--left
                                img(src="images/Robot Avatars_4.png" class="message__sent-icon")
                            .card__col--right
                                .chatbox__title--card Generic Title 1
                                .chatbox__body--card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .message.message--received
                        .message--card
                            .card__col--left
                                img(src="images/Robot Avatars_5.png" class="message__sent-icon")
                            .card__col--right
                                .chatbox__title--card Generic Title 2
                                .chatbox__body--card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .message.message--received
                        .message--card
                            .card__col--left
                                img(src="images/Robot Avatars_6.png" class="message__sent-icon")
                            .card__col--right
                                .chatbox__title--card Generic Title 3
                                .chatbox__body--card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt                                
                    .message.message__loading
                        img(src="images/robot_avatar.png" class="message__sent-icon")
                        +chatLoader()
            .chat__bottom
                .chat__type
                    .chat__type-icon
                        .fas.fa-align-justify
                    span(class="textarea" role="textbox" contenteditable)
                    .chat__send SEND
            .chat__settings
                .settings__section.settings__header
                    .button.button--circle
                        i.fas.fa-compress-alt
                    .settings__title Menu Options
                    .button.button--icon
                        i.fas.fa-angle-down
                .settings__section
                    .section__title Section (checkbox)
                    .section__body
                        .checkbox-group
                            .button--checkbox.button--checkbox-checked OPTION 01
                            .button--checkbox.button--checkbox-unchecked OPTION 02
                            .button--checkbox.button--checkbox-unchecked OPTION 03
                            .button--checkbox.button--checkbox-checked OPTION 04
                .settings__section
                    .section__title Section (Inputs)
                    .section__body
                        label.form__label
                            strong Field 01
                        .input-container
                            input(type="text" placeholder="PLACEHOLDER")
                        .input-message.input-message--success Success in this field
                        label.form__label
                            strong Status
                        .dropdown-white-xs
                            input#status(type='checkbox')
                            label(for='status')
                                h5 Option 1
                                i.fas.fa-chevron-down
                            ul
                                li.selected-category
                                    span Inactive
                                li
                                    span Active
                    .settings__section
                        .section__title Section (Switches)
                        .section__body
                            .switch-group
                                .switch-container
                                    label.form__label
                                        strong Field 01
                                    .switch
                                        input(type="checkbox" checked="checked")
                                        span.slider
                                            .switch__text.switch__text--on ON
                                            .switch__text.switch__text--off OFF
                                .switch-container                                            
                                    label.form__label
                                        strong Field 01
                                    .switch
                                        input(type="checkbox" checked="checked")
                                        span.slider
                                            .switch__text.switch__text--on ON
                                            .switch__text.switch__text--off OFF                      
        .chat__footer
            i.fas.fa-times