.chat {
    position: fixed;
    bottom: 30px;
    right: 20px;
    padding:0;
    max-width: 400px;
    width: 100%;
    height: 700px;
    margin: auto;
    font-family: $font-core;
}

.chat__main {
    height: calc(100% - 60px);
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 0px $spacer-s;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color:$black;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    .chat__avatar {
        background-image: url("../images/robot_avatar.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
    .chat__title {
        color: $white;
        font-size: $text-s;
        margin-left: 15px;
    }
    .chat__close-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        margin-left: auto;
        background-color: $white;
        border-radius: 50%;
        color: $grey-dark-1;
        &:hover {
            cursor: pointer;
        }
    }
}

.chat__body {
    font-family: $font-secondary;
    height: calc(100% - 120px);
    background: $gradient;
    .chat__chat-subcontainer {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: $spacer-m;
        background: rgba(255,255,255, 0.6);
        background:rgba(255,255,255, 0.6),
        linear-gradient(90deg, rgba(0,221,214,1) 0%, rgba(121,121,246,1) 100%);
        .chat__chat-subcontainer--loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                width: 60%;
            }
            .loader-container {
                height:  100px;
            }
        }
    }    
}

.message {
    display: flex;
    width: 100%;
    align-items: flex-end;
    font-family: $font-secondary;
    margin: 2px 0px;
}

.message__confirmation {
    display: inline-block;
    width: auto;
    margin-left: auto;
    padding-right: $spacer-m;
    font-size: $text-xxs;
    font-weight: 600;
}

.message--divider {
    min-height: $spacer-s;
}

.message--received {
    justify-content: flex-end;
    .chatbox {
        background-color: $white;
        border-radius: 20px;
        width: calc(100% - 40px);
    }

}

.message--received-dialogue {
    .chatbox {
        background-color: $white;
        border-radius: 20px 20px 20px 0px;
        margin-left: 10px;
        &:after {
            clip-path: polygon(100% 67%, 0% 100%, 100% 100%);
            content: "";
            height: 50px;
            width:25px;
            background-color:$white;
            display: block;
            position: absolute;
            bottom: 0px;
            left: -10px;
        }
    }
}

.message--sent {
    justify-content: flex-end;
    .chatbox {
        background-color: $purple-normal;
        border-radius: 20px;
        width: calc(100% - 40px);
        color: $white;
    }

}
.message--sent-dialogue {
    .chatbox {
        border-radius: 20px 20px 0px 20px;
        &:after {
            clip-path: polygon(0 67%, 0% 100%, 100% 100%);
            content: "";
            height:50px;
            width:25px;
            background-color: $purple-normal;
            display: block;
            position: absolute;
            bottom: 0px;
            right: -10px;
        }
    }
}

.message--review {
    color: $purple-normal;
}

.message__sent-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $white;
}

.message--option {
    width: calc(100% - 54px);
    padding: 5px 10px;
    background-color: $black;
    margin: 5px 8px;
    margin-left: auto;
    color: $white;
    font-size: $text-xs;
    border-radius: 5px;
    font-weight: 600;
    &:hover {
        cursor: pointer;
        background-color: $green-normal;
    }
}

.chatbox {
    width: calc(100% - 30px);
    padding: $spacer-s $spacer-m;
    border-radius: 20px;
    font-size: $text-xs;
    position: relative;
    .chatbox__title {
        display: block;
        font-size: $text-xs;
        font-weight: 600;
        margin-bottom: 7px;
    }
    
    .chatbox__footer {
        display: block;
        font-size: $text-xs;
        font-weight: 600;
        margin-top: 7px;
        margin-left: auto;
    }
}

.message--card {
    min-height: 130px;
    font-size: $text-xs;
    display: flex;
    background-color: $white;
    border-radius: 10px;
    padding: $spacer-s $spacer-s;
    margin-left: 40px;
    &:hover {
        cursor: pointer;
    }
    .card__col--left {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
            height: auto;
        }
        width: 30%;  
    }
    .card__col--right {
        .chatbox__title--card {
            font-size: $text-s;
            border-bottom: 1px solid $grey-light-2;
            font-weight: 600;
        }
        .chatbox__body--card {
            padding-top: 15px;
        }
        width: 70%;
        padding: 0 0 0 $spacer-s;
    }
}

.chat__review {
    font-size: $text-xxl;
    display: flex;
    max-width: 250px;
    justify-content: space-around;
    i{
        &:hover {
            cursor: pointer;
        }
    }
}

.chat__bottom {
    width: 100%;
    position: relative;
}

.chat__type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px $spacer-xs;
    width: 100%;
    min-height: 70px;
    border: 1px solid $grey-light-2;
    background-color: $white;
    border-radius: 0px 0px 10px 10px;
}

.chat__input {
    height: 100%;
    width: calc(100% - 110px);
    margin: auto;
    &::placeholder {
        color: $grey-light-1;
        font-weight: 600;
    }
    outline: none;
    border: none;
    box-shadow: none;
}

.chat__type-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $text-xs;
    height: 30px;
    width: 30px;
    background-color: $blue-normal;
    border-radius: 50%;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.chat__send {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 60px;
    height: 30px;
    background-color: $purple-normal;
    margin-left: auto;
    color: $white;
    font-size: $text-xs;
    font-weight: 600;
    font-family: $font-secondary;
    &:hover {
        cursor: pointer;
    }
}

.chat__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    width:  60px;
    border-radius: 50%;
    font-size: 30px;
    background-color: $purple-normal;
    margin-left: auto;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.textarea {
    display: block;
    width: 70%;
    overflow: hidden;
    resize: both;
    height: 100%;
    min-height: 20px;
    max-height: 60px;
    line-height: 20px;
    color: $grey-light-1;
    font-weight: 600;
    font-size: $text-s;
    margin: auto;
    outline: none;
    resize: none;
    overflow-y: auto;
  }

  .textarea[contenteditable]:empty::before {
    content: "Type your message...";
    color: $grey-light-1;
  }

  .chat__settings {
      position: absolute;
      height: calc(100% - 110px);
      width: 100%;
      top: 50px;
      padding: 10px 20px;
      background-color: $grey-background;
    .settings__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px 0px 20px 0px;
        .button--circle {
            background-color:$black;
        }
        .section__title {
            width: 100%;
            margin-bottom: 10px;
            font-size: $text-s;
            font-family: $font-secondary;
            font-weight: 550;
            border-bottom: 2px solid $grey-light-2;
        }
        .section__body {
            display: flex;
            flex-wrap: wrap;
            .checkbox-group {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                .button--checkbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    height: 30px;
                    margin: 10px 0px;
                    border-radius: 3px;
                    background-color: $purple-normal;
                    font-size: $text-xs;
                    font-weight: 600;
                }
                .button--checkbox-checked {
                    background-color: white;
                    border: 2px solid $purple-normal;
                    color: $purple-normal;
                }
                
                .button--checkbox-unchecked {
                    background-color: $purple-normal;
                    color: $white;
                    border: 0px;
                }

            }
            .switch-group {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .switch-container {
                    width: 50%;
                }
            }
            .input-container {
                width: 100%;
            }
            label {
                width: 100%;
            }
            .dropdown-white-xs {
                label {
                    background-color: $white;
                }
                
            }
        }
    }
    .settings__header {
        flex-direction: row;
        justify-content: space-between;
        font-size: $text-m;
        font-weight: 600;
        .settings__title {
            border-bottom: 2px solid $grey-light-2;
            width: 60%;
            text-align: center;
        }
    }
  }